.headerBilleM5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mainBilleM5 {
    display: flex;
    justify-content: center;
    align-items: center;
}
